/*---- styles from home.jsp ----*/
div.chart_block {
	clear: none;
	background: #fff;
	border: 1px solid #cbcbcd;
    font-size: 1em;
	font-weight:normal;
	margin: 0px auto 20px auto;
	position:relative;
	width:900px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-border-box-shadow:3px 4px 10px #ccc;
	-moz-border-box-shadow:3px 4px 10px #ccc;
	box-shadow:3px 4px 10px #ccc;
	background: url("content_bkg.jpg") no-repeat scroll bottom right;
} 

div.chart_blocksolo {		
	width: 100%;		
}

div.chart_block div.report_title {
	margin: 0px;
	border-bottom: 0px solid #ccc;
	color:#330066;
	font-size:18px;
	font-weight:bold;
	margin:10px 0px;
	text-align:center;	
	width:800px;
	position: relative;
    top: 10px;
}

div.chart_block div.title {
	margin: 0px;
	border-bottom: 0px solid #ccc;
	color:#330066;
	font-size:18px;
	font-weight:bold;
	margin:20px 0px;
	text-align:center;	

}

div.chart_block a {
	color: blue;
}

div.chart_block p {
	padding: 5px 10px 5px 55px;
}

div.chart_block ul {
	margin-left: 35px;
}

div.chart_block table th {
	background: #ccc;
}

.dashboard_wrapper{
    width: 100%;
}

div.chart_block table.questionnaire td, th {
    border: 0px solid #CCCCCC;
    padding: 0px;
}

fieldset table.questionnaire thead tr th{
	color: #666666;
	font-weight: bold;
	font-size: 12px;
	text-align: right;
}
	
div.chart_controls {
    margin: 10px 0px 25px 0px;
    text-align: center;
    width: 100%;
}

div.chart_controls input {
	font-size: 10px;
	padding: 1px;
}
		
div.primary_controls {
	height: 25px;
 /*   margin: 0 auto;
    width: 435px;*/
}

div.primary_controls span {
    display: inline-block;
    line-height: 20px;
    padding: 0 5px 0 0;
    vertical-align: top;
}
	
a.chart_action {
	padding: 3px;
	color: #fff !important;
	background: #999;
	border: 1px solid #ccc;
	text-decoration: none;
}

a.chart_action:hover {
	background: #333;
	color: #fff !important;
	border: 1px solid #999;
}
		
div.secondary_controls {
    position: absolute;
    right: 10px;
    top: 15px;
}

.message_content{
    background: url("icon_info_lg.png") no-repeat scroll center top transparent;
    font-size: 18px;
    font-weight: bold;
    height: 50px;
    left: 320px;
    margin: 50px auto;
    padding: 50px 0 0 0;
    position: absolute;
    text-align: center;
    top: 150px;
    width: 300px;
}
.error_content{
    background: url("icon_error_lg.png") no-repeat scroll center top transparent;
    font-size: 18px;
    font-weight: bold;
    height: 50px;
    left: 320px;
    margin: 50px auto;
    padding: 50px 0 0 0;
    position: absolute;
    text-align: center;
    top: 150px;
    width: 300px;
}

div.chart_block table {	
	margin-bottom: 15px;    
}

div.chart_block table.dojoxLegendNode {
    position: absolute;
    right: 20px;
    top: 120px;
	width:200px;
}

div.chart_block table.dojoxLegendNode td{
    clear: both;
    display: block;
	position: relative;
	left:0px;
}

div.chart_block table.dojoxLegendNode .dijitInline {
    display: inline;
}
div.chart_block table.dojoxLegendNode label{
    display: inline;
	margin-left: 5px;
}
/* controls chart width */
.chart_content{
    left: 0;
    width:600px;
	height:380px;
}
.work_list_container {
    background: none repeat scroll 0 0 #F5F5F5;
    border-color: #CCCCCC #999999 #999999 #CCCCCC;
    border-style: solid;
    border-width: 0;
    margin-bottom: 10px;
    position: relative;
}